:root {
  --background: hsl(222, 26%, 31%);
  --bg-color-toggle: hsl(223, 31%, 20%);
  --bg-color-toggle-in: hsl(6, 63%, 50%);
  --bg-input: hsl(224, 36%, 15%);

  --bg-numbers: hsl(30, 25%, 89%);
  --shodow-numbers: hsl(28, 16%, 65%);

  --bg-equal: hsl(6, 63%, 50%);
  --shodow-equal: hsl(6, 70%, 34%);

  --bg-delete-reset: hsl(225, 21%, 49%);
  --shodow-delete-reset: hsl(224, 28%, 35%);

  --btn-color: hsl(221, 14%, 31%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
  background-color: var(--background);
  color: white;
}

input,
button {
  outline: 0;
  border: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.container {
  width: 32rem;
}

/* Header App */

.header-app {
}
.header-app__wraper {
  /* width: 97%; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-app__title {
}
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.theme__text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}
.theme__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 2.5rem; */
  position: relative;
}
.theme__btn-top {
  width: 3rem;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -1.1rem;
}
.theme__btn-bottom {
  width: 4rem;
  border-radius: 5rem;
  height: 1.5rem;
  background-color: var(--bg-color-toggle);
  position: relative;
  cursor: pointer;
}
.theme__btn-bottom::after {
  content: "";
  display: block;
  height: 0.95rem;
  width: 0.95rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--bg-color-toggle-in);
  position: absolute;
  top: 0.27rem;
  left: 0.27rem;
  /* left: 1.55rem; */
  /* left: 2.97rem; */
  transition: all 250ms ease-in 20ms;
}

/* Show Numbers */

.show-nums {
  margin-top: 2rem;
}
.show-nums__wraper {
  width: 100%;
}
.show-nums__input {
  width: 100%;
  height: 8rem;
  border-radius: 0.6rem;
  background-color: var(--bg-input);
  color: white;
  font-size: 3rem;
  padding: 0 2rem;
  text-align: right;
}

/* Btns App */

.btns-app {
  margin: 2rem;
}
.btns-app__wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: var(--bg-color-toggle);
  padding: 1.5rem;
  border-radius: 0.6rem;
}
.btns-app__btn {
  width: 6rem;
  height: 3.5rem;
  background-color: var(--bg-numbers);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
.btns-app__btn p {
  font-weight: bold;
  line-height: 31px;
}

.number {
  background-color: var(--bg-numbers);
  box-shadow: 0 4px 0 var(--shodow-numbers);
  font-size: 2.2rem;
  color: var(--btn-color);
}

.delete {
  background-color: var(--bg-delete-reset);
  box-shadow: 0 4px 0 var(--shodow-delete-reset);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.reset {
  background-color: var(--bg-delete-reset);
  box-shadow: 0 4px 0 var(--shodow-delete-reset);
  flex-basis: 13.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.equal {
  background-color: var(--bg-equal);
  box-shadow: 0 4px 0 var(--shodow-equal);
  flex-basis: 13.5rem;
  font-size: 1.5rem;
}
